/node_modules
/public/hot
/public/storage
/public/debug_paytabs.log
!/public/store/.htaccess
/storage/*.key
/.idea
/.vscode
/old
/vendor
/storage/framework/views
/storage/framework/laravel-excel
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
storage/debugbar/.gitignore
/.env
/firebase-auth.json
*.pem
*.sql
app/logs/*.log